name: release
on:
  push:
    branches:
      - main
jobs:
  release:
    name: publish
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: node
        uses: actions/setup-node@v2
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org
      - name: Install dependencies
        run: |
          rm -rf node_modules
          npm install
      - name: Verify package installation
        run: |
          echo "Webpack version:"
          npx webpack --version
          echo "Webpack CLI version:"
          npx webpack-cli --version
          echo "Listing node_modules:"
          ls node_modules
      - run: npm run build
      - run: chmod u+x scripts/publish.sh
      - run: git config --global user.email "foggdev@gmail.com"
      - run: git config --global user.name "Versioning Bot"
      - run: npm run versioning
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
